/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Ensure images and media are sized appropriately */
img,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}

/* Remove default bullet points from ul */
ul {
  list-style: none;
}

/* Remove text decoration from links */
a {
  text-decoration: none;
  color: inherit;
}

/* Make buttons more interactive */
button {
  background: none;
  border: none;
  cursor: pointer;
}
