/* Variables */

:root {
  --crimson: #c41230;
  --white: #ffffff;
  --black: #000000;
  --gray: #eff0f0;
  --dgray: #c6c6c6;
  --darkgray: #757575;
}
/* General Styles */

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: 3px 12px 10px -15px var(--crimson);
}

#logo-header {
  position: absolute;
  left: 124px;
  top: 0;
  z-index: 11;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
  padding-right: 124px;
}

.header-bot {
  position: relative;
  z-index: 10;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.icons-container a img:hover {
  filter: invert(19%) sepia(94%) saturate(3713%) hue-rotate(340deg)
    brightness(76%) contrast(102%);
  transition: filter 0.2s ease;
}

.language-container label {
  display: none;
}

.language-container select {
  padding: 10px;
  font-size: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

nav {
  background-color: var(--gray);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 124px;
}

nav ul {
  display: flex;
  gap: 28px;
  font-weight: 600;
  align-items: center;
  justify-content: end;
}

nav > ul > li:hover {
  color: var(--crimson);
  transition: color 0.3s ease;
}

/* Submenu */

.menu-big {
  display: flex;
  flex-direction: row;
}

.submenu-big {
  background-color: var(--gray);
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  display: none;
  /* opacity: 0; */
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  align-items: start;
}

.menu-big {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.submenu-big li {
  display: flex;
  align-items: start;

  justify-content: start;
}

.menu-big li {
  display: flex;
  flex-direction: column;
}

#utilaje-link:hover > .submenu-big {
  display: block;
}

.submenu-big ul {
  display: none;
}

.submenu-big li:hover > ul {
  display: flex;
  justify-content: space-evenly;
}

.submenu-big div {
  display: flex;
  flex-direction: column;
}

.submenu-big div a {
  font-weight: normal;
}

.submenu-big li {
  position: relative;
}

.submenu-big li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.submenu-big li a:hover {
  background-color: #f0f0f0;
}

.menu li {
  display: none;
}

.submenu li ul {
  display: flex;
  flex-direction: column;
}
.big-menu {
  /* display: none; */
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: var(--gray);
}

.navbar > li:hover > .big-menu {
  display: block;
  top: 24px;
  left: 0;
}

#utilaje-link {
  padding: 40px 0;
  color: var(--crimson);
}

.navbar > li:hover > .submenu {
  display: block;
  top: 60px;
  left: 500px;
}

/* DELETE? */
.submenu {
  position: absolute;
  display: none;
  left: 200px;
  top: auto;
  background-color: var(--gray);
  z-index: 88;
}
.submenu li:hover > .submenu {
  display: block;
  top: 0;
  left: 100%;
}
.submenu a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
  white-space: nowrap;
}

.submenu a:hover {
  background-color: #ddd;
}

/* Mobile */

.hamburger-menu,
.close-menu-icon,
.none {
  display: none;
}

/* Hero */

#acasa {
  background-image: url(/images/hero-img.webp);
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 600px;
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

#acasa h1 {
  font-size: 64px;
  text-align: center;
  padding: 0 300px;
  line-height: 60px;
  margin-top: 160px;
}

button {
  padding: 16px 24px;
  background-color: var(--crimson);
  color: var(--white);
  font-size: 16px;
}

button:hover {
  background-color: rgba(196, 18, 48, 0.8);
  transition: background-color 0.3s ease;
}

/* Utilaje */

#utilaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 100px 0;
}

h2 {
  font-size: 48px;
  color: var(--crimson);
}

.utilaje-toate {
  display: flex;
  gap: 32px;
  align-items: center;
}

.utilaj {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#utilaje-p {
  font-size: 16px;
  text-align: center;
}

.utilaj:hover {
  transition: box-shadow 0.3s ease;
}

.utilaj:hover img {
  filter: saturate(220%);
  transition: filter 0.3s ease;
}

/* Despre noi */

#despre {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.despre-top {
  width: 100%;
  display: flex;
  padding: 50px 124px 0 124px;
  gap: 50px;
}

.despre-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.despre-stats {
  padding: 20px 0;
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.despre-stats-line {
  border-left: 1px solid var(--black);
  height: 42px;
}

.despre-nr {
  font-size: 28px;
  color: var(--crimson);
  font-weight: bold;
}

.despre-stat-text {
  font-size: 14px;
  font-weight: 600;
}

.despre-right {
  display: flex;
  gap: 44px;
}

.despre-person {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.despre-person img {
  width: 280px;
}

.despre-nume {
  font-size: 20px;
}

/* Parteneri */

#parteneri {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 0 124px 50px 124px;

  width: 100vw;
}

#parteneri-title {
  font-size: 36px;
}

.parteneri-items {
  display: flex;
  align-items: center;
  gap: 20px;
  animation: scrolling 4s linear infinite;
  /* max-width: 1440px; */
}

.parteneri-items img {
  width: 250px;
}

@keyframes scrolling {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.scroller {
  max-width: 1192px;
}

.scroller__inner {
  display: flex;
  gap: 36px;
  align-items: center;
}

.scroller__inner img {
  width: 240px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  max-width: 61vw;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  /* max-width: 100vw; */
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 10s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* Service */

#service {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  padding: 100px 124px;
}

.service-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.service-left p {
  /* width: 510px; */
  font-size: 18px;
}

.service-left img {
  width: 50%;
}

/* Intrebari */

/* Intrebari section */

#intrebari {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 100px 124px;
}

.intrebari__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 88px 150px;
  gap: 32px;
  background-color: var(--gray);
}

.intrebari__card {
  background-color: var(--white);
  padding: 44px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.intrebari__card h3 {
  font-weight: 600;
  font-size: 24px;
}

.intrebari__card p {
  font-size: 20px;
  padding-right: 140px;
}

.arrow-right-q,
.arrow-down-q {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.invisible {
  display: none;
}
.visible {
  display: block;
}

/* Footer */

footer {
  background-color: var(--gray);
  padding: 44px 124px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 40px;
}

.footer-container {
  display: flex;
  align-items: start;
  justify-items: space-between;
  gap: 44px;
  border-bottom: 1px solid var(--dgray);
  padding-bottom: 40px;
}

.footer-container div p:first-of-type {
  font-weight: bold;
}

#footer-copyright {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links ul li a:hover,
.footer-utilaje ul li a:hover {
  color: var(--crimson);
  transition: color 0.4s ease;
}

@media (max-width: 1300px) {
  #acasa h1 {
    padding: 0 230px;
  }

  .submenu li:hover > .submenu

  /* .submenu li:hover > .submenu {
    left: 0;
  } */

  #utilaje-link {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .submenu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .submenu-big {
    position: relative;
  }
  .menu-big {
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  #utilaje-link {
    padding: 0;
  }

  .submenu li:hover > .submenu {
    left: 0;
  }
  ul.submenu {
    position: relative;
    /* display: block; */
    align-self: center;
    left: 10px;
    /* display: block; */
    /* width: 80vw; */
  }
  .navbar > li:hover > .submenu {
    left: 0 !important;
  }
  #logo-header {
    left: 40px;
  }
  .hamburger-menu {
    display: block;
    align-self: flex-end;
    margin-right: 40px;
  }

  #burger {
    padding: 8px;
  }

  nav {
    height: auto;
  }
  .header-top {
    display: none;
    position: absolute;
    /* top: 100px; */
    padding-right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 100%;
    gap: 32px;
    z-index: 10;
    display: none;
  }

  .header-bot {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 0;
    background-color: var(--white);
    /* height: 10px; */
    width: 100vw;
  }

  header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0 auto;
    background-color: var(--white);
  }

  .submenu li:first-child a {
    font-weight: bold;
  }

  .nav__links__list {
    padding: 0;
    /* margin-top: -300px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    gap: 24px;
    font-size: 18px;
    z-index: 99;
    box-shadow: 0px 6px 13px -5px var(--pink), 5px 5px 5px 5px rgba(0, 0, 0, 0);
    /* display: none; */
  }

  .nav__links__list ul {
    height: 50%;
  }
  .submenu {
    align-items: center;
    text-align: center;
    width: auto;
  }

  #utilaje-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #logo-header {
    width: 200px;
  }

  #acasa h1 {
    font-size: 56px;
    /* padding: 0 10px; */
  }

  .despre-left {
    align-items: center;
  }

  .despre-text {
    text-align: center;
    padding: 0;
  }

  .despre-top {
    flex-direction: column;
    padding: 50px 60px 0 60px;
  }

  .despre-stats-line {
    display: none;
  }

  .despre-person-all {
    flex-direction: column;
    align-items: center;

    justify-content: center;
    display: flex;
  }
  .despre-right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .despre-person {
    gap: 16px;
  }

  .despre-person img {
    width: 220px;
  }

  #parteneri {
    align-items: center;
    padding: 0 50px;
  }

  #parteneri-title {
    text-align: center;
    font-size: 32px;
  }

  #service {
    flex-direction: column;
    align-items: center;
  }

  #service img {
    max-width: 100%;
  }

  .service-left {
    align-items: center;
    text-align: center;
  }

  #intrebari {
    padding: 50px 0;
  }

  .intrebari__cards {
    padding: 30px;
  }

  .intrebari__card p {
    padding-right: 0;
  }

  .intrebari__card h3 {
    margin-right: 60px;
    font-size: 20px;
  }

  .utilaje-toate {
    flex-direction: column;
  }

  footer {
    padding: 50px 30px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  ul.submenu {
    /* width: 20vw; */
    font-size: 14px;
    background-color: var(--white);
    /* gap: 8px; */
  }
}

@media (max-width: 1100px) {
  #acasa h1 {
    padding: 0 180px;
  }
}

@media (max-width: 965px) {
  #acasa h1 {
    padding: 0 110px;
  }
}

@media (max-width: 830px) {
  #acasa h1 {
    padding: 0 50px;
  }

  #service {
    padding: 50px 30px;
  }
}
@media (max-width: 700px) {
  h2 {
    font-size: 40px;
  }

  #logo-header {
    left: 0;
  }

  .hamburger-menu {
    margin-right: 20px;
  }

  #acasa {
    height: 400px;
  }

  #acasa h1 {
    font-size: 36px;
    padding: 0 100px;
    margin-top: 100px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  #acasa h1 {
    padding: 0 40px;
  }
}

@media (max-width: 430px) {
  h2 {
    font-size: 32px;
  }
  #acasa {
    height: 360px;
  }

  #acasa h1 {
    font-size: 32px;
    padding: 0px;
    margin-top: 90px;
  }

  #utilaje {
    padding: 44px 0;
    gap: 20px;
  }

  #utilaje img {
    width: 230px;
  }

  .despre-top {
    flex-direction: column;
    padding: 50px 30px 0 30px;
  }

  .footer-container {
    gap: 26px;
  }

  #footer-copyright {
    flex-direction: column;
  }

  .footer-line {
    display: none;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Products */

#utilajForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
  padding: 24px 18px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin: 60px 0;
  position: sticky;
  top: 0;
  background-color: var(--ddgray);
  z-index: 10;
}

#utilajForm > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#utilajForm label {
  font-size: 14px;
  color: var(--ddgray);
}

#utilajForm input,
#utilajForm select {
  padding: 8px;
  height: 32px;
}

.formStare-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formStare-all div {
  display: flex;
  align-items: center;
  gap: 4px;
}
